.error {
  width: 100%;
  padding: 10px;
  background: #880000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.success {
  width: 100%;
  padding: 10px;
  background: #080;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

span.required {
  font-weight: bold;
  font-size: 1.1em;
  color: #800;
}